################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/JoshBookStore/.vs/JoshBookStore/v16
/.vs
/JoshBookStore/JoshBookStore/obj
